html, body {
  padding: 0;
  margin: 0; }

.carousel {
  position: relative; }
  .carousel, .carousel * {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none; }

.carousel__container {
  overflow: hidden; }

.carousel__content {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.carousel-nav--bullet .carousel__nav-item {
  padding: 5px 10px; }

.carousel__nav-item .carousel__nav-icon--off {
  display: inline-block; }

.carousel__nav-item .carousel__nav-icon--on {
  display: none; }

.carousel__nav-item.is-active .carousel__nav-icon--off {
  display: none; }

.carousel__nav-item.is-active .carousel__nav-icon--on {
  display: inline-block; }

.carousel-item {
  position: relative;
  margin: 0;
  list-style-type: none;
  float: left; }

.nav {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0; }
  .nav li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block; }
