html, body {
	padding: 0;
	margin: 0;
}

.c-carousel {
	position: relative;
	&, & * {
		-webkit-user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;		
		user-select: none;

		box-sizing: border-box;
	}
}
   
	.c-carousel__container {
		overflow: hidden;
	}

		.c-carousel__content {
			position: relative;
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
	

			.c-carousel__item-container {
				float: left;
			}
				.c-carousel__item {
					position: relative;
					margin: 0;
					list-style-type: none;
					float: left;
				}

	.c-carousel__nav {
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			padding: 0;
			margin: 0;
			display: inline-block;
		}
	}

	.c-carousel__nav--bullet {
		.c-carousel__nav-item {
			padding: 5px 10px;
		}
	}

		.c-carousel__nav-item {
			.c-carousel__nav-icon--off {
				display: inline-block;
			}
			.c-carousel__nav-icon--on {
				display: none;
			}
			&.is-active {
				.c-carousel__nav-icon--off {
					display: none;
				}
				.c-carousel__nav-icon--on {
					display: inline-block;
				}
			}
		}	



// .c-carousel-item--tab {
// 	@include fx-media-query(palm) {
// 		position: relative;
// 		margin: 0;
// 		list-style-type: none;
// 		float: left;
// 	}
// 	@include fx-media-query(tab) {
// 		position: relative;
// 		margin: 0;
// 		list-style-type: none;
// 		float: left;
// 	}
// }

// 	// width: 100%;
// .c-carousel-item--palm {
// 	// display: block;
// 	position: relative;
// 	margin: 0;
// 	list-style-type: none;
// 	@include fx-media-query(palm) {
// 		float: left;
// 	}
// }